## 七月在线机器学习集训第二周(Pandas数据处理)考试参考答案
#### 参考答案说明:

- 来源：来自于网络搜索，笔记整理，当期及往期优秀同学试卷等途径
- 使用：该答案仅供参考，非唯一固定答案，欢迎同学批评，指正。

<center><h1>####答卷开始####</h1></center>
***

## Pandas操作题(共两题。每题每个步骤分数均已标明。总分100分)

### 1.学生数据分析（总分数：60）

#### 1.数据导入并展示, 文件位置位于0.Teacher/data/下（10分）
   - 请将文件student-info.csv中的内容读入pandas DataFrame "df_info"，注意该文件的分隔符是分号，并展示前五行（5分）   
   - 请将文件student-score.csv中的内容读入pandas DataFrame "df_score"，注意该文件的分隔符是分号，并展示前五行（5分）

In [2]:
import pandas as pd
import numpy as np

In [3]:
df_info=pd.read_csv('../Data/student-info.csv',delimiter=';')
df_score=pd.read_csv('../Data/student-score.csv',delimiter=';')

df_info.head()

,ID,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,...,higher,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences
0,0,GP,F,18,U,GT3,A,4,4,at_home,...,yes,no,no,4,3,4,1,1,3,6
1,1,GP,F,17,U,GT3,T,1,1,at_home,...,yes,yes,no,5,3,3,1,1,3,4
2,2,GP,F,15,U,LE3,T,1,1,at_home,...,yes,yes,no,4,3,2,2,3,3,10
3,3,GP,F,15,U,GT3,T,4,2,health,...,yes,yes,yes,3,2,2,1,1,5,2
4,4,GP,F,16,U,GT3,T,3,3,other,...,yes,no,no,4,3,2,1,2,5,4

In [4]:
df_info.columns

Index(['ID', 'school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu',
       'Fedu', 'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime', 'studytime',
       'failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery',
       'higher', 'internet', 'romantic', 'famrel', 'freetime', 'goout', 'Dalc',
       'Walc', 'health', 'absences'],
      dtype='object')

In [5]:
df_score.head()

   ID  G1  G2  G3
0   0   5   6   6
1   1   5   5   6
2   2   7   8  10
3   3  15  14  15
4   4   6  10  10

#### 2.把两个DataFrame "df_info" 和 "df_score" 按照学生ID对齐拼接起来，结果存在一个新DataFrame "df" 中 (5分）

In [6]:
df = pd.merge(df_info, df_score, on="ID", how="inner")
df.head()

,ID,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,0,GP,F,18,U,GT3,A,4,4,at_home,...,4,3,4,1,1,3,6,5,6,6
1,1,GP,F,17,U,GT3,T,1,1,at_home,...,5,3,3,1,1,3,4,5,5,6
2,2,GP,F,15,U,LE3,T,1,1,at_home,...,4,3,2,2,3,3,10,7,8,10
3,3,GP,F,15,U,GT3,T,4,2,health,...,3,2,2,1,1,5,2,15,14,15
4,4,GP,F,16,U,GT3,T,3,3,other,...,4,3,2,1,2,5,4,6,10,10

#### 3.把"df"所有的列展示出来(5分)

In [ ]:
df.columns

#### 4.统计男生的平均分和女生的平均分(G1, G2, G3)，使用groupby和aggregate来操作(10分)

In [ ]:
result=df.groupby('sex').agg({'G1':np.mean,'G2':np.mean,'G3':np.mean})
result

#### 5.统计不同年龄的学生(G1, G2, G3)的平均分，并作出柱状图展示（10分）

In [ ]:
%matplotlib inline
result2=df.groupby('age')['G1','G2','G3'].agg(np.mean)
result2.plot(kind='bar')

In [ ]:
result2

#### 6.统计不同学校(school一列)的学生的平均分，并作柱状图展示，要求同一科目的两个学校成绩贴在一起展示(10分）

In [ ]:
result2=df.groupby('school').agg({'G1':np.mean,'G2':np.mean,'G3':np.mean})
result2.T.plot(kind='bar')

#### 7.统计一下每个学校三个科目总分的前十名，然后把前十名的同学所有信息输出(10分)

In [ ]:
def top10(item):
    return item.loc[item['total'].nlargest(10).index]
df['total']=df['G1']+df['G2']+df['G3']
df_gp=df.groupby('school').apply(top10)
df_gp

### 2.沃尔玛销售数据整理（共40分）

#### 1. 数据导入并展示, 文件位置位于0.Teacher/data/walmart下 （10分）

   - 请将文件 stores.csv 中的内容读入pandas DataFrame "df_stores"，并展示前五行以及打印df_stores的shape （2分）

In [ ]:
df_stores = pd.read_csv("../Data/walmart/stores.csv")
print(df_stores.head())
print(df_stores.shape)

   - 请将文件 features.csv 中的内容读入pandas DataFrame "df_feats"，将df_feats改成只留下以下几个columns: "Store", "Date", "Temperature", "Fuel_Price", "CPI", "Unemployment", 并展示前五行以及打印df_feats的shape  （4分）

In [ ]:
df_feats = pd.read_csv("../Data/walmart/features.csv", parse_dates=["Date"])
df_feats = df_feats[["Store", "Date", "Temperature", "Fuel_Price", "CPI", "Unemployment"]]
print(df_feats.head())
print(df_feats.shape)

   - 请将文件 sales.csv 中的内容读入pandas DataFrame "df_feats"，并展示前五行以及打印df_sales的shape（4分）

In [ ]:
df_sales = pd.read_csv("../Data/walmart/sales.csv", parse_dates=["Date"])
print(df_sales.head())
print(df_sales.shape)

#### 2. 我们发现 df_sales 中每个Store有很多个Dept(department)， 我们只关心整家店的销售情况，所以请把这张表格按照Store和Date来计算整店销售总额，IsHoliday这一列不必保留。结果保存在df_sales_by_store中。（10分）

In [ ]:
df_sales_by_store = df_sales[["Store", "Date", "Weekly_Sales", \
                     "IsHoliday"]].groupby(["Store", "Date"]).agg({"Weekly_Sales": sum})
df_sales_by_store.head()

#### 3. 使用 Store 和 Date 这两列合并 df_sales_by_store 和 df_feats 两张表格，结果保存在 df_sale_feats 。（10分）

In [ ]:
df_sale_feats = pd.merge(df_sales_by_store, df_feats, left_on=["Store", "Date"], right_on=["Store", "Date"])
print(df_sale_feats.head())
print(df_sale_feats.shape)

#### 4. 使用 Store 这一列合并 df_sale_feats 和 df_stores 两张表格，结果仍然保留在df_sale_feats 中。（10分）

In [ ]:
df_sale_feats = pd.merge(df_sale_feats, df_stores, left_on=["Store"], right_on=["Store"])
print(df_sale_feats.head())
print(df_sale_feats.shape)

***
<center><h1>####答卷结束####</h1></center>

### 本周课程意见反馈(非必答)
请同学围绕以下两点进行回答：
- 自身总结：您自己在本周课程的学习，收获，技能掌握等方面进行总结，包括自身在哪些方面存在哪些不足，欠缺，困惑。作为将来回顾学习路径时的依据。
- 课程反馈：也可以就知识点，进度，难易度，教学方式，考试方式等等进行意见反馈，督促我们进行更有效的改进，为大家提供更优质的服务。