## 七月在线机器学习集训营六期第二周(Pandas数据处理)考试
#### 考试说明:
- 起止时间：请同学在2018年11月2日至11月4日期间完成，最晚提交时间本周日（11月4日24时之前）结束，<b>逾期不接受补考,该考试分数计入平时成绩</b>
- 考试提交方式：请同学<font color=red><b>拷贝</b></font>该试卷后，将文件更名为同学姓名拼音-exam1（例如wangwei-exam2）后，移动至/0.Teacher/Exam/2/目录下进行作答。
- 注意事项：为确保同学们真正了解自身对本周课程的掌握程度，<font color=red><b>请勿翻阅，移动，更改</b></font>其它同学试卷。如发现按0分处理
- 请同学在下方同学姓名处填写自己的姓名，批改人和最终得分处不用填写

- 同学姓名：孙楠
- 批改人：   
- 最终得分:

<center><h1>####答卷开始####</h1></center>
***

## Pandas操作题(共两题。每题每个步骤分数均已标明。总分100分)

### 1.学生数据分析（总分数：60）

#### 1.数据导入并展示, 文件位置位于0.Teacher/data/下（10分）
   - 请将文件student-info.csv中的内容读入pandas DataFrame "df_info"，注意该文件的分隔符是分号，并展示前五行（5分）   
   - 请将文件student-score.csv中的内容读入pandas DataFrame "df_score"，注意该文件的分隔符是分号，并展示前五行（5分）

In [2]:
import pandas as pd
df_info = pd.read_csv('../Data/student-info.csv',sep=';')
df_info.head()

,ID,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,...,higher,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences
0,0,GP,F,18,U,GT3,A,4,4,at_home,...,yes,no,no,4,3,4,1,1,3,6
1,1,GP,F,17,U,GT3,T,1,1,at_home,...,yes,yes,no,5,3,3,1,1,3,4
2,2,GP,F,15,U,LE3,T,1,1,at_home,...,yes,yes,no,4,3,2,2,3,3,10
3,3,GP,F,15,U,GT3,T,4,2,health,...,yes,yes,yes,3,2,2,1,1,5,2
4,4,GP,F,16,U,GT3,T,3,3,other,...,yes,no,no,4,3,2,1,2,5,4

In [4]:
df_score = pd.read_csv('../Data/student-score.csv',sep=';')
df_score.head()

   ID  G1  G2  G3
0   0   5   6   6
1   1   5   5   6
2   2   7   8  10
3   3  15  14  15
4   4   6  10  10

#### 2.把两个DataFrame "df_info" 和 "df_score" 按照学生ID对齐拼接起来，结果存在一个新DataFrame "df" 中 (5分）

#### 3.把"df"所有的列展示出来(5分)

#### 4.统计男生的平均分和女生的平均分(G1, G2, G3)，使用groupby和aggregate来操作(10分)

#### 5.统计不同年龄的学生(G1, G2, G3)的平均分，并作出柱状图展示（10分）

#### 6.统计不同学校(school一列)的学生的平均分，并作柱状图展示，要求同一科目的两个学校成绩贴在一起展示(10分）

#### 7.统计一下每个学校三个科目总分的前十名，然后把前十名的同学所有信息输出(10分)

### 2.沃尔玛销售数据整理（共40分）

#### 1. 数据导入并展示, 文件位置位于0.Teacher/data/walmart下 （10分）

   - 请将文件 stores.csv 中的内容读入pandas DataFrame "df_stores"，并展示前五行以及打印df_stores的shape （2分）

   - 请将文件 features.csv 中的内容读入pandas DataFrame "df_feats"，将df_feats改成只留下以下几个columns: "Store", "Date", "Temperature", "Fuel_Price", "CPI", "Unemployment", 并展示前五行以及打印df_feats的shape  （4分）

   - 请将文件 sales.csv 中的内容读入pandas DataFrame "df_sales"，并展示前五行以及打印df_sales的shape（4分）

#### 8. 我们发现 df_sales 中每个Store有很多个Dept(department)， 我们只关心整家店的销售情况，所以请把这张表格按照Store和Date来计算整店销售总额，IsHoliday这一列不必保留。结果保存在df_sales_by_store中。（10分）

#### 9. 使用 Store 和 Date 这两列合并 df_sales_by_store 和 df_feats 两张表格，结果保存在 df_sale_feats 。（10分）

#### 10. 使用 Store 这一列合并 df_sale_feats 和 df_stores 两张表格，结果仍然保留在df_sale_feats 中。（10分）

***
<center><h1>####答卷结束####</h1></center>

### 本周课程意见反馈(非必答)
请同学围绕以下两点进行回答：
- 自身总结：您自己在本周课程的学习，收获，技能掌握等方面进行总结，包括自身在哪些方面存在哪些不足，欠缺，困惑。作为将来回顾学习路径时的依据。
- 课程反馈：也可以就知识点，进度，难易度，教学方式，考试方式等等进行意见反馈，督促我们进行更有效的改进，为大家提供更优质的服务。